[submodule "external/gsl"]
	path = external/gsl
	url = https://github.com/Microsoft/GSL.git
[submodule "external/expected-lite"]
	path = external/expected-lite
	url = https://github.com/martinmoene/expected-lite.git
[submodule "external/nlohmann-json"]
	path = external/nlohmann-json
	url = https://github.com/nlohmann/json.git
[submodule "external/spdlog"]
	path = external/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest.git
